In [17]:
a = 10


a = a +1
a

11

In [18]:
a += 1
a

12

In [19]:
a += 4
a

16

In [20]:
a -= 2
a

14

In [21]:
a *= 3
a

42

In [22]:
a /= 2

In [23]:
a

21.0

In [24]:
a //= 3
a

7.0

In [27]:
b = 10.0
b // 2
b

10.0

In [16]:
a = 8
a %= 2
a

0

In [28]:
true = 10
true

10

In [29]:
True = 12

SyntaxError: can't assign to keyword (<ipython-input-29-abb8adb6eb95>, line 1)

In [36]:
name = 'Mohsin'
if name == 'mohsin':
    print("My name is Mohsin")

In [34]:
name = 'Mohsin'
increment = 0
if name == 'Mohsin':
    print("My name is " + name + ".")
    increment += 5
    print(increment)

My name is Mohsin.
5

In [37]:
name = 'Mohsin'
increment = 0
if name == 'mohsin':
    print("My name is " + name + ".")
    increment += 5
    print(increment)
else:
    print("kuch bhi")

kuch bhi

# Comparison operators

In [39]:
a = 10
if a == 10:
    print(a)

10

# abc

I'm in Saylani head office.
Sir Hamza is teaching me python.

In [41]:
num1 = 69
num2 = 69

if num1 != num2:
    print('Number 1 and number 2 are not same...')
else:
    print("Both the number are same")

Both the number are same

In [42]:
5 != 9

True

In [44]:
6 == 1

False

In [45]:
a = 5
b = 8
a < b

True

In [46]:
a > b

False

In [48]:
a <= b

True

In [49]:
a >= b

False

In [50]:
a == b

False

In [51]:
a != b

True

In [61]:
age = input("Enter your age: ")
if age >= '18':
    print("cnic banwany joo..")
else:   
    print("ghar py aram karo")

Enter your age: 18
cnic banwany joo..

In [63]:
age = int(input("Enter your age: "))
if age >= 18:
    print("cnic banwany joo..")
else:   
    print("ghar py aram karo")

Enter your age: 43
cnic banwany joo..

In [70]:
marks = int(input("Enter your total marks: "))
if marks >= 80:
    print("**car**")
elif marks >= 70:
    print("**iphone3g**")
elif marks >= 60:
    print("**danda**")
else:
    print("**jooty**")

Enter your total marks: 89
**car**

In [72]:
marks = float(input("Enter your total marks: "))
if marks >= 80:
    print("**car**")
elif marks >= 70:
    print("**iphone3g**")
elif marks >= 60:
    print("**danda**")
else:
    print("**jooty**")

Enter your total marks: 98
**car**

In [80]:
age = int(input("Enter your age: "))
if age >= 18:
        print("In process....please wait!!")
        ticket = input("Do you have ticket[Y/N]:  ").lower()
        if ticket == 'y':
            print("U can go now")
        else:
            print("Buy your Ticket.")
            
else:
    print("You are a child..")

Enter your age: 44
In process....please wait!!
Do you have ticket[Y/N]:  Y
U can go now

In [76]:
x = 'PakIStaN'
x.upper()

'PAKISTAN'

In [77]:
x.lower()

'pakistan'

In [78]:
x.title()

'Pakistan'

In [81]:
age = int(input("Enter your age: "))
if age < 18:
    print("You are a child..")
elif input("Do you have ticket[Y/N]:  ").lower() == 'y'
     print("U can go now")
else:
     print("Buy your Ticket.")

SyntaxError: invalid syntax (<ipython-input-81-b907bdb1da67>, line 4)